<!DOCTYPE html>
<head>
    PythonApp
    <script src="static/js/jquery-3.6.3.min.js"></script>
    <script src="static/js/opencv.js"></script>
    
</head>
<body>
    Hello from App
    <input type='file' id="fileUpload"/>
    <div id="refdiv" style="height: 512px; width: 512px;overflow: auto; border: 10px solid; border-color: black;">
        <canvas id="ref" ></canvas>
    </div>
    <div id='testdiv' style="height: 512px; width: 512px;overflow: scroll; border: 10px solid; border-color: black;">
        <canvas id="test"></canvas>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>